.draftist-onboarding-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;

    .draftist-onboarding-heading {
        display: flex !important;
        font-size: 2rem !important;
    }

    .draftist-onboarding-subcontainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    .draftist-onboarding-row {
        display: flex;
        flex-direction: row;
        justify-content: center;
        max-width: 70%;
        margin-top: var(--p-spacing);

        h1 + & {
            margin-top: 0;
        }
    }

    .draftist-onboarding-message {
        text-align: center;
        text-wrap: pretty;
    }

    .draftist-onboarding-error {
        color: var(--text-error);
    }

    .draftist-onboarding-actions {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 1ch;
    }

    .draftist-onboarding-secret-input {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 1ch;

        & div,
        & div .setting-hotkey {
            height: 100%;
        }
    }

    .draftist-onboarding-sites {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        width: 90%;
    }

    .draftist-onboarding-site-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        gap: 1.5rem;
        padding: 1.5rem;
        width: 100%;
        background-color: var(--background-primary-alt);
        border-radius: 10px;
    }

    .draftist-onboarding-site-label {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 1ch;
    }

    .draftist-onboarding-site-input {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
    }

    .draftist-onboarding-site-disabled {
        color: var(--text-faint);
    }
}
