.draftist-spinner {
    width: 40px;
    height: 40px;
    display: inline-block;
    position: relative;
}

.draftist-spinner::after,
.draftist-spinner::before {
    content: "";
    box-sizing: border-box;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid var(--text-normal);
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    animation: draftist-spin 2s linear infinite;
}
.draftist-spinner::after {
    animation-delay: 1s;
}

@keyframes draftist-spin {
    0% {
        transform: scale(0);
        opacity: 0;
    }
    20% {
        transform: scale(0.2);
        opacity: 0.7;
    }
    100% {
        transform: scale(1);
        opacity: 0;
    }
}
